# DS-store from mac
.DS_Store
**/.DS_Store

# virtual environment
fab_net
env

# git setup file
git_setup.sh

# data file
data/CHICAGO_MEASURES_FEB24.xlsx
data/mean.csv
data/NRC-VAD-Lexicon.txt

# python cache
__pycache__/
*.pyc

# functions from fabulanet 
src/saffine/
src/roget/
